body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:58px;
  width:204px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:36px;
  top:88px;
  width:205px;
  height:40px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C2C2C2;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:36px;
  top:127px;
  width:205px;
  height:40px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C2C2C2;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:36px;
  top:166px;
  width:205px;
  height:40px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C2C2C2;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:36px;
  top:185px;
  width:154px;
  height:19px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:964px;
  top:43px;
  width:200px;
  height:160px;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:208px;
  height:168px;
}
#u13 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:964px;
  top:43px;
  width:200px;
  height:67px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:67px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:964px;
  top:107px;
  width:200px;
  height:53px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:53px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:964px;
  top:160px;
  width:200px;
  height:43px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1114px;
  top:0px;
  width:54px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:260px;
  width:114px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:39px;
  top:574px;
  width:114px;
  height:16px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#9C9C9C;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1178px;
  top:0px;
  width:102px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1174px;
  top:50px;
  width:106px;
  height:38px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
